<div>
  <h1>Thanks for the purchase!</h1>
      <p>Your tweet has successfully skipped the queue and has been sent! <a href="<%= session[:tweet_url] %>" target="_blank" class="text-indigo-700">View it.</a></p>
      <p>Want your tweet Pinned to bring more attention to your feedback? <a href="<%= @pay_link_url%>" target="_blank" class="text-indigo-700">Pay $5 to Pin.</a></p>
      <p class="mt-10">Want to send another feedback? <a class="text-indigo-700" href="/">Submit another</a></p>
</div>