<%# Feel free to customize this 'thank you' page as you wish %>
<div>
  <h1>Thanks for the purchase!</h1>
  <p>We'll pin <a href="<%= session[:tweet_url] %>" class="text-indigo-400">your tweet</a> to our page in the next 12-24 hours—Keep an eye out.</p>
  <p>Your tweet will remain there until someone else purchases the pinned spot.</p>
</div>
