<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Someone purchased a Pinned Tweet!</h1>
    <p>Here's the link to the tweet that needs to be pinned: <%= @url %></p>
  </body>
</html>
