<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Someone purchased to skip the queue!</h1>
    <p>Here's the link to the tweet that skipped the queue: <%= @url %></p>
  </body>
</html>